@media screen and (min-width: 1600px) {
    .wrapper {
        max-width: 1290px;
        margin: 0 auto;
    }

    .slide__description {
        margin: 0 105px 0 calc(100% - 1290px / 2);
        padding-top: 110px;
        padding-bottom: 40px;
    }

    .about__block {
        padding: 80px 105px 80px calc(50% - 1290px / 2);
    }

    .slider .slider__pagination {
        right: calc(50% - 1290px / 2);
    }

    .slidePromo__container {
        right: 28%;
    }

    #insta-slider .slick-slide {
        width: 323px !important;
    }

    .instagram__item {
        width: 315px !important;
    }

    .instagram__feed {
        max-height: 315px;
    }

    #insta-slider .slick-slide.slick-active {
        margin-left: 10px;
        margin-right: -8px;
    }

    .ambassadors__item {
        width: 422px !important;
    }

    .ambassador__main {
        padding-top: 16px;
    }

    #ambassador-slider .slick-slide {
        width: 430px !important;
    }

    .ambassador__content {
        margin-top: -18px;
    }

    .ambassador__picture {
        margin-top: -18px;
    }

    .articles__item {
        width: 422px !important;
    }

    #articles-slider .slick-slide {
        width: 430px !important;
    }

    .map__list {
        left: calc(50% - 1290px / 2);
    }

    .seo.innerWrapper {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 1279px) {
    .wrapper {
        max-width: none;
        margin: 0 40px;
    }

    .innerWrapper {
        padding: 70px 0;
    }

    .feedback {
        width: 40%;
    }

    .feedback__item {
        padding: 0 24px;
    }

    .slideDescription__verticalImage {
        display: none !important;
    }

    .orderBlock__img, .navigation__text {
        display: none;
    }

    .navigation__text.navigation__text--mobile {
        display: inline;
        letter-spacing: 3px;
    }

    .slide__description {
        margin-left: 40px;
    }

    .slidePromo__container {
        right: 40px;
    }

    .slidePromo__descriptionWrapper {
        width: 323px;
    }

    .slidePromo__linkBlock {
        width: 65%;
    }

    .slideDescription__content {
        padding: 14px 0 14px 14px;
    }

    .slide__personImage {
        left: -105px;
    }

    .slide__footer {
        padding-left: 0;
    }

    .slider .slider__pagination {
        right: 5%;
    }

    .about__block {
        padding: 70px 80px 70px 50px;
    }

    #insta-slider .slick-slide {
        width: 236px !important;
    }

    .instagram__item {
        width: 228px !important;
    }

    .instagram__feed {
        max-height: 228px;
    }

    .ambassadors__item {
        height: 566px;
    }

    .ambassadors__item, .articles__item {
        width: 308px !important;
    }

    .ambassador__main {
        padding-top: 16px;
    }

    #ambassador-slider .slick-slide, #articles-slider .slick-slide {
        width: 315px !important;
    }

    #ambassador-slider .slick-slide.slick-active {
        margin-left: 10px;
    }

    .ambassadors__container-slider {
        max-height: 566px;
        margin-bottom: 30px;
    }

    .ambassadors__linkBlock {
        height: auto;
        flex-wrap: wrap;
    }

    .ambassador__picture {
        width: auto;
        height: 100%;
        max-width: 100%;
        object-fit: none;
    }

    .ambassadors__link {
        width: 100%;
        height: 60px;
    }

    .orders.innerWrapper {
        padding-bottom: 90px;
    }

    .orderBlock__content {
        width: 100%;
    }

    .map__list {
        top: 80px;
        left: 40px;
    }

    #articles-slider .slick-slide.slick-active {
        margin-right: 10px;
    }

    .modalForm {
        top: 20px;
    }

    .seo.innerWrapper {
        padding-bottom: 80px;
    }

    .logoSymbol--link::before {
        left: 14px;
    }

    .navigation {
        width: 60%;
    }

    .feedback {
        width: 40%;
    }

    .navigation__item:last-child .navigation__link {
        padding-right: 45px;
    }

    .footerCounter__container {
        justify-content: space-between;
    }

    .footerCounter__item {
        margin-right: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .wrapper {
        margin: 0 30px;
    }

    .innerWrapper {
        padding: 60px 0;
    }

    .navigation__text, .header .navigation__item, .slide__footer, .instagram__logo, .footer .navigation__item--red {
        display: none;
    }

    .navigation__item.navigation__item--mobileMenu, .navigation__item.navigation__item--menu, .footer .navigation__item--footer {
        display: flex;
    }

    .footer .navigation__item:nth-child(2) .navigation__link {
        padding-left: 0;
    }

    .navigation__item--footer {
        height: 60px;
        justify-content: center;
    }

    .navigation__item--menu .navigation__link {
        padding-left: 18px;
    }

    .navigation__item--menu span {
        position: relative;
        display: inline-block;
        width: 23px;
        height: 4px;
        margin-right: 15px;
        vertical-align: bottom;
        background: #EB2E34;
    }

    .navigation__item--menu span:before, .navigation__item--menu span:after {
        content: "";
        position: absolute;
        left: 0;
        width: 23px;
        height: 4px;
        background: #EB2E34;
    }

    .navigation__item--menu span:before {
        top: 10px;
    }

    .navigation__item--menu span:after {
        top: -10px;
    }

    .navigation__text.navigation__text--mobile {
        display: inline;
        letter-spacing: 3px;
    }

    .navigation {
        width: 45%;
    }

    .feedback {
        width: 55%;
    }

    .slider {
        flex-wrap: wrap;
        height: auto;
    }

    .slider__block--gallery {
        height: 426px;
    }

    .slide {
        flex-wrap: wrap;
        min-height: auto;
    }

    .slidePromo__container {
        left: auto;
        right: 30px;
    }

    .slide__personImage {
        position: static;
    }

    .slide__block, .slideTitle {
        width: 100%;
    }

    .slideTitle {
        font-size: 70px;
    }

    .slidePromo__descriptionWrapper {
        width: 342px;
    }

    .slide__description {
        padding-top: 60px;
        margin: 0 30px;
        width: 75%;
    }

    .slider__block {
        overflow: hidden;
        width: 100%;
    }

    .slideDescription__content {
        padding-top: 25px;
    }

    .slidePromo {
        height: 454px;
    }

    .slider .slider__pagination {
        right: 30px;
    }

    #main-slider-next {
        margin-right: 0;
    }

    .slide__person {
        left: 5%;
        bottom: -20%;
    }

    .about {
        flex-wrap: wrap;
    }

    .about__block {
        width: 100%;
        padding: 60px 30px;
    }

    .about__block--photo {
        height: 480px;
    }

    #ambassador-slider .slick-slide, #articles-slider .slick-slide {
        width: 354px !important;
    }

    .ambassadors__container-slider {
        max-height: 546px;
    }

    .ambassador__content {
        margin-bottom: -18px;
    }

    .ambassadors__item {
        height: 546px;
    }

    .ambassadors__item, .articles__item {
        width: 349px !important;
    }

    #ambassador-slider .slick-slide.slick-active {
        margin-right: -5px;
    }

    .orders.innerWrapper {
        padding-bottom: 70px;
    }

    .orders__title {
        width: 100%;
        padding: 0 150px;
    }

    .orders__item {
        display: flex !important;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 295px;
    }

    .orderBlock__main {
        height: auto;
    }

    .orderBlock__title {
        min-height: auto;
    }

    .orders__paginationWrapper {
        display: flex;
        justify-content: center;
        padding: 31px 0 0 0;
    }

    .orders__paginationWrapper .paginationBlock__container button, .orders__paginationWrapper .paginationBlock__item {
        color: #FBF8F6;
    }

    .map__list {
        top: 0;
        left: 0;
        width: 100%;
    }

    .map {
        height: 654px;
    }

    .mapList__listBlock {
        display: none;
    }

    .mapList__selectBlock {
        flex-direction: row;
    }

    .mapList__selectBlock .selectBox {
        width: 50%;
        margin-bottom: 0;
    }

    .mapList__select:first-child, .selectBox__pseudoCurrent {
        margin-bottom: 0;
    }

    .mapList__titleBlock {
        padding-bottom: 25px;
    }

    .articles__item {
        height: 508px;
    }

    #articles-slider.articles__container {
        max-height: 508px;
    }

    #articles-slider .slick-slide.slick-active {
        margin-left: 10px;
        margin-right: -5px;
    }

    .seo.innerWrapper {
        padding-bottom: 70px;
    }

}

@media screen and (max-width: 767px) {
    .wrapper {
        margin: 0 20px;
    }

    .innerWrapper {
        padding: 50px 0;
    }

    .toolbar__counter, .feedback__item:first-child, .sliderPromo__triangle, .slidePromo__descriptionWrapper {
        display: none;
    }

    .toolbar__helpers {
        width: 100%;
    }

    .feedback {
        width: auto;
    }

    .menu .feedback__item {
        width: 100%;
    }

    .footerCounter__container {
        flex-wrap: wrap;
    }

    .slideTitle {
        font-size: 50px;
    }

    .slide__description {
        padding-top: 50px;
        margin: 0 20px;
        width: 100%;
    }

    .slidePromo__linkBlock {
        width: auto;
    }

    #main-slider .slide {
        display: flex;
        justify-content: center;
    }

    .slidePromo__container {
        top: 269px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 210px;
        z-index: 1000;
    }

    .slider .slider__pagination {
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        margin: auto;
    }

    .about__linkBlock {
        left: 0;
        right: 0;
        margin: auto;
        max-width: 212px;
        bottom: 40px;
    }

    #insta-slider .slick-slide {
        width: 220px !important;
    }

    #insta-slider .slick-slide.slick-active {
        margin-right: -5px;
    }

    .instagram__item {
        width: 215px !important;
    }

    .instagram__feed {
        max-height: 215px;
    }

    .instagram__linkBlock, .ambassadors__linkAll, .articles__linkAll {
        margin-top: 30px;
    }

    .ambassadors__filter {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .ambassadors__item {
        height: 544px;
        margin-left: 10px;
    }

    #ambassador-slider .slick-slide, #articles-slider .slick-slide {
        width: 440px !important;
    }

    #articles-slider .slick-slide.slick-active, #ambassador-slider .slick-slide.slick-active {
        margin-right: -81px;
    }

    .ambassadors__container-slider {
        max-height: 544px;
    }

    .articles__footer, .ambassadors__footer, .instagram__footer {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer__navContainer {
        flex-wrap: wrap;
    }

    .footer__navContainer .menu__block {
        height: auto;
    }

    .footer .navigation {
        padding-top: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer__navContainer .navigation__item {
        padding-bottom: 20px;
    }

    .navigation__item:last-child .navigation__link {
        padding: 0;
    }

    .navigation__item:nth-child(5) .navigation__link {
        padding-right: 30px;
    }

    .footer .toolbar__helper {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .footerCounter {
        padding-top: 35px;
        padding-bottom: 31px;
    }

    .footerCounter__item {
        width: 50%;
        margin-right: 0;
        margin-bottom: 14px;
    }

    .social__item:first-child {
        margin-left: 0;
    }

    .orders.innerWrapper {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .orders__title {
        padding: 0;
    }

    .orders__item {
        height: 450px;
    }

    .orderCTA {
        flex-wrap: wrap;
    }

    .orderCTA__item {
        width: 100%;
    }

    .modalForm--insta .modalForm__left {
        display: none;
    }

    .modalForm.modalForm--insta {
        width: 288px;
    }

    .modalForm__close {
        top: 25px;
        right: 15px;
    }

    .modalForm__close span:before, .modalForm__close span:after {
        background: #EB2E34;
    }

    .modalForm__right__subTitle {
        margin-bottom: 22px;
    }

    .modalForm__rightText {
        padding: 0 18px;
        margin-bottom: 30px;
    }

    .modalForm h2 {
        font-size: 22px;
    }
    .titleText {
        font-size: 40px;
    }
}

@media screen and (max-width: 479px) {
    .wrapper {
        margin: 0 16px;
    }

    .innerWrapper {
        padding: 40px 0;
    }
    .feedback {
        display: none;
    }
}
