@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
    url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #666666;
}

.logoSymbol::before{
    content: ':';
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    height: 50%;
    margin-right: 8px;
}
.logoSymbol--white::before {
    color: #FFF;
}
.logoSymbol--red::before {
    color: #EB2E34;
}
/*toolbar start*/
.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    background: #333333;
}

.toolbar__counter {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.counter {
    color: #FFF;
    font-size: 14px;
}
.counter__item {
    margin-right: 10px;
    border-radius: 26px;
    background: #1C1C1A;
    padding: 3px 8px;
    align-self: flex-start;
}
.counter__itemDigit {
    color: #EB2E34;
    font-weight: 600;
}
.toolbar__helpers {
    width:  50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.toolbar__helper {
    margin-left: 20px;
}
.search__icon {
    cursor: pointer;
}
.language__item--active {
    color: #FFFFFF;
}
.language__item--last::before {
    content: '|';
    margin: 0 3px;
}
.social {
    display: flex;
    justify-content: space-between;
}
.social__item {
    margin-left: 8px;
    height: 25px;
    width: 25px;
}
.social__image {
    height: 100%;
    max-height: 25px;
}
/*toolbar end*/

/*menu start*/
.menu {
    display: flex;
    height: 60px;
    justify-content: space-between;
    background: #E4E3E0;;
}
.navigation {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.navigation__item {
    font-family: Bebas Neue, sans-serif;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-decoration-line: none;
    color: #666666;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
.navigation__item.navigation__item--red {
    color: #FFFFFF;
    background: #EB2E34;
    letter-spacing: 2px;
}
.feedback {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.feedback__item {
    font-family: Bebas Neue, sans-serif;
    width: 50%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
.feedback__item--white {
    color: #EB2E34;
    background:#FFF;
}
.feedback__item--red {
    color: #FFF;
    background: #EB2E34;
}
/*menu end*/
